<template>
  <div id="app">
    <vue-headful
      :title="$t('meta.title')"
      :html="{ body: {id: $route.meta.id } }"
      :lang="$route.meta.lang"
    />
    <header-component></header-component>
    <router-view></router-view>
  </div>
</template>

<script>
import HeaderComponent from './components/partials/Header.vue'
export default {
  name: 'app',
  components: {
    HeaderComponent,
  },
}
</script>
